<!doctype html>
<html data-theme="black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="main.css">
    <title>Ratings</title>
</head>
<body>
<div class="flex flex-col gap-12 items-center justify-center h-screen">
    <h1>NFL Ratings</h1>
    <div class="overflow-x-auto">
        {{ range $element := . }}
        <h2 class="text-center">{{ $element.Season }} - {{ $element.Week }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Home</th>
                <th>Away</th>
                <th>Rating</th>
                <th>Explanation</th>
                <th>Explanation (Spoilers!)</th>
            </tr>
            </thead>
            <tbody>
            {{ range $index, $element := $element.Results }}
            <tr>
                <td>{{ $element.Game.Away.Name }}</td>
                <td>{{ $element.Game.Home.Name }}</td>
                <td class="text-center">{{ $element.Rating.Score }}</td>
                <td class="text-center">
                    <button class="btn-link" onclick="modalId('explanation_{{ $element.Id }}')">ℹ️</button>
                    <dialog id="explanation_{{ $element.Id }}" class="modal">
                        <div class="modal-box">
                            <h3 class="text-lg font-bold">What happened?</h3>
                            <p class="py-4">{{ $element.Rating.SpoilerFree }}</p>
                            <div class="modal-action">
                                <form method="dialog">
                                    <button class="btn">Close</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                </td>
                <td class="text-center">
                    <button class="btn-link" onclick="modalId('spoiler_{{ $element.Id }}')">⚠️</button>
                    <dialog id="spoiler_{{ $element.Id }}" class="modal">
                        <div class="modal-box">
                            <h3 class="text-lg font-bold">What happened?</h3>
                            <p class="py-4">{{ $element.Rating.Explanation }}</p>
                            <div class="modal-action">
                                <form method="dialog">
                                    <button class="btn">Close</button>
                                </form>
                            </div>
                        </div>
                    </dialog>
                </td>
            </tr>
            {{ end }}
            </tbody>
        </table>
        {{ end }}
    </div>
</div>
</body>
<script>
    function modalId(id) {
        document.getElementById(id).showModal();
    }
</script>
</html>