services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --no-autoupdate run --token eyJhIjoiNTY3Y2Q1ZmVkYjExZDZlOTJhZmI0NTRlNmUwMjA2ZTgiLCJ0IjoiYjBkM2VkNTItYjdkOS00MWQ2LTkyMzgtYTljMzE0NzU4YmFmIiwicyI6Ik4yVTVZamc0TkRVdFpqRmtNQzAwTldVeExXRXlaamN0TVRKaE1UVmxZek13WkdKaiJ9
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=${CLOUDFLARE_TOKEN_NFL}
    healthcheck:
      test: [ "CMD", "cloudflared", "healthcheck" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  app:
    image: nfl-ratings
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    ports:
      - 8089:8089
    volumes:
      - ./data:/app/data
    container_name: nfl-ratings
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8089/"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 1m
